<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-6">
                    <h4>bright nature  <span class="light-text">of decision</span></h4>
                    <p>Bringing growth, ingenuity, and experience to market.</p>
                </div>
                <div class="col-lg-6">
                    <div class="footer-btns">
                        <a href="{{ url_for('main.contact' ) }}" class="btn button btn-white">Contact Us</a> 
                        <a href="{{ url_for('main.about') }}" class="btn button">About US</a> 
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-col">
                    <figure class="footer-logo">
                        <img src="static/images/logo2.png" alt="">
                    </figure>
                    <p class="footer-desc">Helping farmers to emerging markets maximize their profits. We use agronomic 
                        machine learning, remote sensing, and mobile phones to deliver financing, farm products, and customized advice to smallholder.
                    </p>
                    <ul class="bottom-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Quick Links</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li><a href="blog-grid.html">Blogs</a></li>
                        <li><a href="gallery-three-columns.html">Gallery</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>About</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="services.html">Services</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="careers.html">Careers</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Company</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="bottom-footer">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>© 2019 <strong>Cropify</strong> all rights reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 text-align">
                    <ul class="bf-right">
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>