{% extends 'base/base.html' %}

{% block main %}
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Contact</h1>
                <div class="page-nav">
                    <p><a href="{{ url_for('main.index') }}">Home</a> &nbsp; | &nbsp; <a href="#">Contact</a></p>
                </div>
            </div>
        </div>  
    </div>

    <section>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-box-layer">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="sb-caption">
                            <h4>Our Office</h4>
                            <p>Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Dolor, optio!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-box-layer">
                        <i class="fas fa-phone-alt"></i>
                        <div class="sb-caption">
                            <h4>Call Us</h4>
                            <p>718-825-3320<br/>212-632-4120</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-box-layer">
                        <i class="fas fa-envelope"></i>
                        <div class="sb-caption">
                            <h4>Email Address</h4>
                            <p>info@Cropify.com<br/>sales@Cropify.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-form mt-5">
            <div class="container">
                <div class="layer-title text-center">
                    <h2>Get <span class="light-text">In Touch</span></h2>
                    <p>We specialise in intelligent & effective Search and believes in the power of <br /> partnerships
                        to
                        grow business. We use agronomic machine learning, remote sensing,</p>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form id="contact-form">
                            <div class="messages"></div>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" class="form-control customize"
                                                placeholder="Name" required="required"
                                                data-error="First name is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email"
                                                class="form-control customize" placeholder="Email address"
                                                required="required" data-error="Valid email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_phone" type="tel" name="phone"
                                                class="form-control customize" placeholder="Please enter your phone">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" class="form-control customize"
                                                placeholder="Your message" rows="6" required="required"
                                                data-error="Please,leave us a message."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 btn-send">
                                        <p><input type="submit" class="btn btn-contact button" value="Send message"></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </section>
{% endblock main %}