{% from "includes/macros/form_utils.html" import render_text_field %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SetPassword</title>
    </head>

    <body>
        <h1>Set Password</h1>
        <hr>
        {% include 'includes/components/alerts.html' %}
        <form action="" method="post">
            {{ form.hidden_tag() }}

            {{ render_text_field(form.password) }}
            {{ render_text_field(form.password1) }}

            {{ form.submit }}
        </form>
    </body>
</html>