<pre style="font-family: Arial, Helvetica, sans-serif;">
    Dear {{ name }},
        We hope this message finds you well. Welcome to our Community! We're excited to have you on board and want to ensure that your experience with us is secure and seamless.
        To get started, we kindly request you to verify your account.

        To verify your account, please click on the link below. This link is only active for the next hour, so please act promptly:

        <a href="{{ link }}">Verify Me</a> <br>
        Note: If you are unable to click on the link directly, please copy and paste it into your web browser.

        If you encounter any issues during the verification process or have any questions, our support team is here to assist you. 
        Please feel free to reach out to us at <a href="mailto:karnamshyam9009@gmail.com">karnamshyam9009@gmail.com</a>.

        Thank you for creating an account with us. We look forward to providing you with a safe and enjoyable experience on our platform.

        Best regards,
        Team Cropify
</pre>