<pre>
    Dear {{ name }},
        We hope you are doing well. It appears that you've requested a password reset for your account at your library. 
        We understand how important account security is, and we're here to assist you in regaining access to your account. 

        To reset your password, Click on the link below to access the password reset page. This link is only active for the next hour, so please act promptly:

        <a href="{{ link }}">Reset password</a> <br>

        Note: If you are unable to click on the link directly, please copy and paste it into your web browser.

        If you encounter any issues during the verification process or have any questions, our support team is here to assist you. 
        Please feel free to reach out to us at <a href="mailto:karnamshyam9009@gmail.com">karnamshyam9009@gmail.com</a>.

        Thank you for creating an account with us. We look forward to providing you with a safe and enjoyable experience on our platform.

        Best regards,

        Team LMS
</pre>